<% provide :title, "Thông tin trung tâm" %>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12 image-half-block about-bg1"></div>
    <div class="col-md-5 col-sm-12 col-xs-12 text-half-block">
      <h2>SỨ MỆNH GIÁO DỤC</h2>
      <p>Nền kinh tế Việt Nam đang vươn lên mạnh mẽ. Để đáp ứng được nhu cầu lao động chất lượng cao
        thì cải cách giáo dục phải được ưu tiên lên hàng đầu. Hưởng ứng lời kêu gọi xã hội hóa giáo dục của chính phủ,
        Chúng tôi, những con người đang ngày đêm góp sức mình trong việc nâng cao chất lượng giáo dục tại Việt Nam.
        Chúng tôi tự hào gọi đó là một <i>"Sứ mệnh giáo dục"</i>.
      </p>
    </div>
  </div>
  <div class="block-content bg-gradient-pink" id="ketnoi">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12 image-half-block about-bg2 col-md-push-5"></div>
        <div class="col-md-5 col-sm-12 col-xs-12 text-half-block col-md-pull-7">
          <h2>KẾT NỐI DẠY VÀ HỌC</h2>
          <p>Hướng đi của chúng tôi đó là <i>"Kết nối nhu cầu học tập của người học tới những giáo viên,
          gia sư, chuyên gia, và trung tâm uy tín"</i>. Việc này có ý nghĩa to lớn trong việc tiết kiệm chi phí
          thời gian tìm kiếm cũng như tạo ra một nền tảng đánh giá chất lượng khách quan bởi cộng đồng.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="block-content bg-gradient-blue" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12 image-half-block about-bg3"></div>
        <div class="col-md-5 col-sm-12 col-xs-12 text-half-block">
          <h2>NHANH, ĐƠN GIẢN, TIẾT KIỆM</h2>
          <p>Sử dụng thành tựu công nghệ thời đại 4.0, chúng tôi tạo ra nền tảng mà người học và người dạy
            được <i>"kết nối trực tiếp"</i> rất nhanh và chính xác theo đúng những nhu cầu học đã đăng lên.
            Đặc biệt, các giáo viên sẽ đưa ra các mức giá hợp lý nhất như bạn mong muốn.
          </p>
        </div>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12 image-half-block about-bg5 col-md-push-5"></div>
    <div class="col-md-5 col-sm-12 col-xs-12 text-half-block col-md-pull-7">
      <h2>ĐÁP ỨNG MỌI NHU CẦU HỌC TẬP CỦA BẠN</h2>
      <p>Giờ đây bạn không phải vất vả tìm kiếm nữa, bởi tất cả mọi nhu cầu học tập của bạn
        đều rất sẵn sàng trên. Chúng tôi có thể giúp bạn:
      </p><ul style="font-size:16px;">
        <li>Tìm gia sư, tìm giáo viên dạy kèm</li>
      </ul>
      <p></p>
    </div>
  </div>
</div>
