<% provide :title, "Liên hệ" %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-push-2">
      <p style="text-align: left; line-height: 35px;">
        <span style="font-size: 14px;">
          <strong>
            Quý phụ huynh và các bạn gia sư có nhu cầu tìm gia sư và lớp dạy xin liên hệ với chúng tôi theo địa chỉ:&nbsp;<br><span style="font-size: 24px;">TRUNG TÂM GIA SƯ </span>
            &nbsp;
            <br>
            Văn Phòng : Số 5 ngách 15/5 Gốc Đề, Minh Khai, Hà Nội&nbsp;
            <br>
            Chi Nhánh &nbsp;: Hai Bài Trưng Hà Nội&nbsp;
            <br>
            WebSite &nbsp; &nbsp; :&nbsp;&nbsp;
            <a title="Gia Sư Bách Khoa" href="#">www.trungtamgiasu.com.vn</a>
            <br>
            Hotline &nbsp; &nbsp; &nbsp; : 0378578484&nbsp;
            <br>
          </strong>
        </span>
      </p>
    </div>
  </div>
</div>
