<% provide :title, "Trang chủ" %>
<div class="col1">
  <div class="center" id="center">
    <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: normal; color: #039;">
      <strong><span>TRUNG TÂM GIA SƯ </span></strong>
      <br>
      <span>
        <span style="font-size: 14px; color: #ff0000;">
          <strong>UY TÍN, CHẤT LƯỢNG, NHIỆT TÌNH</strong>
        </span><br><a title=" Trung Tâm Gia Sư " href="#">
          <span style="font-size: 14px;">
            <strong>www.giasu.com.vn</strong>
          </span></a><br>
          <span style="font-size: 14px;">

          </span>
        </span>
        &nbsp;
    </h1>
    <p>Bằng nhiều năm kinh nghiệm trong công tác giảng dạy, chúng tôi hiểu rằng:&nbsp;<strong><a title="Dạy Kèm" href="#">DẠY KÈM</a></strong>&nbsp;là phương pháp tốt nhất để HỌC SINH YẾU dễ hiểu bài và HỌC SINH GIỎI nhanh nâng cao kiến thức.</p>
    <p>Với mong muốn đem đến cho các quý phụ huynh những gia sư chất lượng tốt nhất. Văn phòng&nbsp;<strong><a title="Gia Sư" href="#">Gia Sư</a></strong>&nbsp;Bách Khoa hiện đã cộng tác với rất nhiều Giáo Viên và Sinh Viên ưu tú của các trường: ĐH sư Phạm, ĐH Bách Khoa, ĐH KHXH &amp; NV, ĐH Tự Nhiên, ĐH Y Dược, ĐH Kinh Tế, ĐH Kiến Trúc...trên địa bàn thành phố, nhằm tạo ra một đội ngũ&nbsp;<a>gia sư</a>&nbsp;có chuyên môn cao, đáp ứng mọi nhu cầu học tập và rèn luyện cho tất cả học sinh ở mọi cấp, mọi trình độ.</p>
    <p>Với phương châm "UY TÍN - TIN CẬY",&nbsp;<strong><a title="Trung Tâm Gia Sư" href="gioi-thieu/">Trung Tâm Gia Sư</a></strong>&nbsp; ra đời và mong muốn được đóng góp một phấn nhỏ trên bước đường thành đạt của con em các bạn.</p>
    <p style="text-align: right;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;<img title="Trung tâm gia sư Bách Khoa" src="http://www.giasubachkhoa.com.vn/upload/@files/gioi-thieu.jpg" alt="Trung tâm gia sư Bách Khoa" width="350" height="235"></p>
    <p style="text-align: center;">Hình gia sư dạy kèm</p>
    <p style="text-align: left;"><span>Đến với văn phòng&nbsp;</span><strong><a title="Gia Sư" href="#">Gia Sư</a></strong><span>&nbsp;Bách Khoa chắc chắn quý phụ huynh sẽ hài lòng bởi cách phục vụ chu đáo và phương pháp giảng dạy chuyên nghiệp của đội ngủ gia sư của công ty chúng tôi như:</span></p>
    <ol>
      <li><strong>Ôn tập lại những kiến thức đã học ở trường</strong></li>
      <li><strong>Dạy sát chương trình, dạy sâu kiến thức, dạy kỹ chuyên môn</strong></li>
      <li><strong>Luôn nâng cao và mở rộng kiến thức cho các em</strong></li>
      <li><strong>Thường xuyên báo cáo kết quả học tập đến quý phụ huynh</strong></li>
      <li><strong>Chấp nhận dạy thử một tuấn không thu phí</strong></li>
    </ol>
    <p><strong>TRUNG TÂM&nbsp;<a>GIA SƯ</a>&nbsp;BÁCH KHOA NHẬN&nbsp;<a>DẠY KÈM</a>&nbsp;TẠI NHÀ CÁC MÔN:</strong></p>
    <ul>
      <li style="text-align: left;"><strong><span style="color: #ff0000; font-size: 14px;">Toán - Lý - Hóa - Sinh - Văn...</span></strong></li>
      <li style="text-align: left;"><strong><span style="color: #ff0000; font-size: 14px;">Anh văn cơ bản - IELTS - TOELF - TOEIC...</span></strong></li>
      <li style="text-align: left;"><strong><span style="color: #ff0000; font-size: 14px;">Các môn Vẽ - Đàn - Nhạc...</span></strong></li>
      <li style="text-align: left;"><strong><span style="color: #ff0000; font-size: 14px;">Luyện viết chữ đẹp...</span></strong></li>
      <li style="text-align: left;"><strong><span style="color: #ff0000; font-size: 14px;">Các ngoại ngữ: Hoa - Hàn - Nhật - Pháp...</span></strong></li>
      <li style="text-align: left;"><span style="color: #ff0000;"><span style="font-size: 14px;"><strong>Luyện thi đại học khối : A, B, C, D...</strong></span></span></li>
    </ul>
    <p>Chúng tôi với uy tín, trách nhiệm của mình sẽ đem đến cho quý Phụ Huynh sự hài lòng nhất về việc giảng dạy của gia sư của trung tâm và việc học của con em các bạn.</p>
    <p><strong>Lưu ý:</strong> Trung Tâm sẽ cho gia sư dạy thử từ 2 - 3 buổi trước khi dạy chính thức để đảm bảo chất lượng gia sư của trung tâm. Nếu sau thời gian dạy thử quý phụ huynh thấy gia sư của trung tâm dạy không đạt yêu cầu hay không phù hợp thì xin quý phụ huynh hãy báo ngay cho trung tâm, chúng tôi sẽ đổi ngay cho các bạn một gia sư khác thích hợp hơn.</p>
    <p><strong>Quý phụ huynh sẽ an tâm hơn khi đến với&nbsp;Trung tâm Gia Sư&nbsp; !!!</strong></p>
    <p style="text-align: left;"><span><br></span></p>
    <p style="text-align: left;">&nbsp;</p>
  </div>
</div>
