<% provide :title, "Quản lý đề nghị dạy" %>
<h2>Quản lý đề nghị dạy</h2>
<div class="row">

  <div class="col-sm-4 col-sm-push-8">
    <%= form_tag admin_teach_offers_path, :method => 'get' do %>
      <%= select_tag(:status, options_for_select(TeachOffer.statuses.keys, params[:status]), onchange: 'this.form.submit();', class: "form-control custom-select" , include_blank: true )%>
    <% end %>
  </div>
</div>
<div class="container-user">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Người đề nghị dạy</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Người đăng nhu cầu</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Trạng thái</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <%= render @teach_offers %>
    </tbody>
  </table>
  <%= paginate @teach_offers%>
</div>
<div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
