<div class="footer">

    <div class="l">
        <p><span style="font-size: 16px;"><strong>GIA SƯ BÁCH KHOA</strong></span><br> Địa chỉ: 376 Lê Hồng Phong, Phường 1, Quận 10<br> Email: giasubk247@gmail.com<br> Hotline: 0838300655 / 0916276271 / 0908018459</p>    </div>
    <div class="r">

<!-- <a href="http://ebiv.vn/c/trung-tam-gia-su-bach-khoa/wall" target = "_blank" title="Chỉ số tín nhiệm cá nhân đầu tiên tại Việt Nam"> <img src="images/logott.png" width ="138" height ="90" align ="left" /></a> -->

        <a href="#" title="Gia su bách khoa">Trang chủ</a>   |
        <a href="#" title="Khu vực dành cho phụ huynh">Dành cho phụ huynh</a>    |
        <a href="#" title="Lớp gia sư hiện có">Dành cho  gia sư</a>   |
        <a href="#" title="Tuyển dụng - Trung tâm Gia sư bách khoa">Tuyển dụng</a><br>
        Copyright 2010 Trung tâm <a href="#" title="Gia sư bách khoa">Gia sư Bách Khoa</a>.
    </div>
</div>
